body {
  margin: 0;
}

div {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  background-image: url('../img/logo_dta_big.png');
  background-repeat: no-repeat;
  border: 10px solid white;
}